# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data (don't commit large files)
data/raw/*.csv
data/processed/*.csv
*.csv

# Power BI
#*.pbix

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db